.header__logo {
  width: 143px;
  height: 33px;

  background-image: url(../../../images/mesto-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 105px;
    height: 25px;
  }
}
