.profile__info {
  max-width: 500px;
  position: relative;
  padding-right: 42px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 27px;
    max-width: 100%;
    padding-right: 0;
  }
}
