.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  color: #fff;
  cursor: pointer;
  box-sizing: border-box;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.button:hover {
  opacity: 0.6;
}
