.modal__container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 430px;
  min-height: 272px;

  box-sizing: border-box;

  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .modal__container {
    min-height: 322px;
    padding: 25px 22px;
  }
}
