.profile__edit {
  position: absolute;
  right: 0;
  top: 15px;

  width: 24px;
  height: 24px;

  background-image: url(../../../images/pen.svg);
  background-size: 10px 10px;

  border: 1px solid #FFFFFF;

  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    right: 0;
    top: 7px;

    width: 18px;
    height: 18px;

    background-size: 8px 8px;
  }
}
