.form__submit {
  margin-top: 48px;

  height: 50px;

  color: #fff;
  font-size: 18px;
  line-height: 1.21;

  background-color: #000;
  border: none;
  border-radius: 2px;
}

.form__submit:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 767px) {
  .form__submit {
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
  }
}
