.container {
  margin: 0 auto;

  width: 100%;
  min-width: 320px;
  max-width: 928px;

  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 19px;
    padding-right: 19px;
  }
}
