.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  color: #fff;
  cursor: pointer;
  box-sizing: border-box;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}
